/* select with languages */
#languagee {
  margin-bottom: 10px; }

/*Select tag with all languages*/
.select {
  margin-bottom: 15px; }

/* block with selected languages */
.selected-languages {
  height: 137px;
  padding: 5px;
  border: 1px solid #eee;
  border-radius: 5px;
  overflow-y: auto;
  background-color: #fff;
  width: 560px;
  margin-left: 240px; }
  .selected-languages__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee; }
    .selected-languages__item:last-child {
      border-bottom: none;
      padding-bottom: 0; }
  .selected-languages__fullName {
    font: 16px/1 Helvetica, sans-serif;
    color: #000; }
  .selected-languages__delete {
    width: 16px;
    height: 16px;
    background: url("chrome-extension://__MSG_@@extension_id__/images/close.png") no-repeat center/contain;
    cursor: pointer; }
